
body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
  }
header {
    background-color: #E2EEEC;
    width: 100%;
  height: 100px;
  border: 2px, solid;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
}
.container {
    padding: 0px 0;
    margin: 0 auto;
    width: 100%;
}
.link {
    transition: color 0.3s;
}
.link:hover {
    color: #A5956D;
}
.fit-picture {
    width: 200px;
}
.list {
    align-items: center;
    justify-content: space-around;
}
.list li {
    list-style: none;
}
.list a {
    text-decoration: none;
    display: block;
    font-size: 60px;
    color: black;
    font-family: Oswald;
}
@font-face {
    font-family: "Oswald";
    src:
      url("../fonts/Oswald/static/Oswald-Medium.ttf");
  }
  @font-face {
    font-family: "Oswald-Bold";
    src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
  }
  @font-face {
    font-family: "Oswald-Light";
    src: url(../fonts/Oswald/static/Oswald-Light.ttf);
  }
  .flex {
    display: flex;
  }
  main {
    background-color: #E2EEEC;
  }
  .portfolio {
    background-color: #CABD9A;
    align-items: center;
    justify-content: space-around;
    height: 650px;
  }
  
  .portfolio-title {
    text-decoration: none;
    color: black;
    font-family: Oswald-Bold;
    font-size: 70px;
    padding: 50px 0;
  }
  .portfolio-list {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
  }
  .portfolio-list li {
    list-style: none;
  display: inline;
  border: 0px solid #cccccc;
  }
  .portfolio-list a {
    text-decoration: none;
    display: block;
    font-size: 50px;
    padding: 20px;
    color: black;
    font-family: Oswald;
  }
  .about {
    background-color: #8AAAA5;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
  }
  
  .about-img {
    width: 350px;
  }
  .scale {
    transition: 0.5s;
  }
  .scale:hover {
    transform: scale(1.1);
  }
  footer {
    background-color: #A5956D;
    width: 100%;
    height: 100px;
  }
  .grid-container {
    display: grid;
  }